[archbox]
image=ghcr.io/tibiiius/archbox:latest
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
pull=true
replace=false
init=true

[ubuntu]
image=ghcr.io/tibiiius/ubuntu:latest
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
pull=true
replace=false

[fedora]
image=ghcr.io/tibiiius/fedora:latest
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
pull=true
replace=false
