[archbox]
image=ghcr.io/tibiiius/archbox:latest
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
pull=true
replace=true
