#!/usr/bin/env bash
source {{ .chezmoi.sourceDir }}/.helper.sh

# Package hash: {{ .packages.common | join " " | sha256sum }}

{{ if .homebrewSupported }}
  find_brew

  # Install packages
  print_message "Installing packages using brew bundle"

  eval "$(${BREW_PATH} shellenv)"
  export HOMEBREW_NO_AUTO_UPDATE=1

  brew bundle --no-upgrade --no-lock --file=/dev/stdin <<EOF
    {{- range .packages.common }}
      {{- if (index . "tap") }}
tap "{{ .tap }}"
      {{- end }}
      {{- if (index . "brew") }}
brew "{{ .brew }}"
      {{- end }}
      {{- if (index . "cask") }}
cask "{{ .cask }}"
      {{- end }}
    {{- end }}
EOF

  exit 0
{{ else if .rustupSupported }}
  print_message "Brew not supported, but Rustup/Cargo is, continuing..."

  if command -v cargo &> /dev/null; then
    print_message "Cargo found, installing packages using cargo"
    cargo binstall --locked --no-confirm \
    {{ range .packages.common }}
      {{ if (index . "cargo") }}
        {{ .cargo }} \
      {{ end }}
    {{ end }}
  fi

  exit 0
{{ else }}
  print_message "Brew and Rustup/Cargo not supported, trying alternatives..."

  if command -v apt &> /dev/null; then
    print_message "Apt found, installing packages using apt"
    sudo apt-get update
    sudo apt-get install -y \
    {{ range .packages.common }}
      {{ if (index . "apt") }}
        {{ .apt }} \
      {{ end }}
    {{ end }}
  fi

{{ end }}
