#!/usr/bin/env bash
source {{ .chezmoi.sourceDir }}/.helper.sh

STARSHIP_INSTALL_DIR=${HOME}/.local/bin
CURL_CMD="curl -sS https://starship.rs/install.sh"

print_message "Installing starship prompt..."

# Install Starship prompt
${CURL_CMD} | sh -s -- --bin-dir ${STARSHIP_INSTALL_DIR} --yes

print_message "Done running initial setup!"
