#!/usr/bin/env bash
source {{ .chezmoi.sourceDir }}/.helper.sh

{{ if eq .machineType "dev" }}
  print_debug "In Dev Container, skipping setting up packages..."
  exit 0
{{ end }}

# Package hash: {{ .packages.common | join " " | sha256sum }}

{{ if .homebrewSupported }}
  brew_path=$(find_brew)

  print_debug "Brew path: ${brew_path}"

  # Install packages
  
  print_message "Installing packages using brew"
  
  eval "$(${brew_path} shellenv)"
  export HOMEBREW_NO_AUTO_UPDATE=1
  
  {{ range .packages.common }}
    brew list {{ .brew }} &> /dev/null || brew install {{ .brew }}
  {{ end }}
  
  exit 0

{{ else }}

  print_message "Brew not supported, trying to install using alternatives..."
  
  if command -v cargo &> /dev/null; then
    print_message "Cargo found, installing packages using cargo"
    {{ range .packages.common }}
      cargo binstall --locked --no-confirm {{ .cargo }}
    {{ end }}
  fi
  
  exit 0

{{ end }}
