#!/usr/bin/env bash
source {{ .chezmoi.sourceDir }}/.helper.sh

# This script is used to setup neovim.

{{/* AppImages only run on Linux */}}
{{ if eq .chezmoi.os "linux" }}

APPIMAGE_LINK="https://github.com/neovim/neovim/releases/latest/download/nvim.appimage"
CURL_CMD="curl -s -L ${APPIMAGE_LINK}"
TARGET_DIR="${HOME}/.local/share/nvim-appimage"

# Ensure target dir exists
mkdir -p "${TARGET_DIR}" || exit 1

# Check if update is needed
if [ -f "${TARGET_DIR}/nvim.appimage.sha256" ]; then
  SUM_INSTALLED=$(cat ${TARGET_DIR}/nvim.appimage.sha256 | cut -d " " -f 1)
  SUM_REMOTE=$(${CURL_CMD} | sha256sum | cut -d " " -f 1)

  print_debug "Installed: ${SUM_INSTALLED}"
  print_debug "Remote: ${SUM_REMOTE}"
  if [ "${SUM_INSTALLED}" == "${SUM_REMOTE}" ]; then
    print_message "Neovim is up to date."
    exit 0
  fi
fi

pushd /tmp

${CURL_CMD} -o nvim.appimage && chmod +x nvim.appimage
./nvim.appimage --appimage-extract && rm -rf ${TARGET_DIR} && mkdir -p ${TARGET_DIR} && mv squashfs-root/** ${TARGET_DIR}

ln -sf ${TARGET_DIR}/AppRun ${HOME}/.local/bin/nvim

sha256sum nvim.appimage > ${TARGET_DIR}/nvim.appimage.sha256

popd

{{/* On OSX, use brew instead */}}
{{ else if eq .chezmoi.os "darwin" }}
find_brew

if [ ! -z "${BREW_PATH}" ]; then
    eval "$(${BREW_PATH} shellenv)"
    export HOMEBREW_NO_AUTO_UPDATE=1
    if brew list neovim &> /dev/null; then
      print_message "Neovim is already installed."
    else
      brew install neovim
    fi

    if [ $? -ne "0" ]; then
        print_error "Couldn't install Neovim!"
        exit 1
    fi
fi
{{ end }}
