[fedora]
image=ghcr.io/tibiiius/fedora:40
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
volume=/home/linuxbrew/.linuxbrew:/home/linuxbrew/.linuxbrew:rw,Z
pull=true
replace=false
