[ubuntu]
image=ghcr.io/tibiiius/ubuntu:22.04
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
volume=/home/linuxbrew/.linuxbrew:/home/linuxbrew/.linuxbrew:rw,Z
pull=true
replace=false

[alpine]
image=quay.io/toolbx-images/alpine-toolbox:latest
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
volume=/home/linuxbrew/.linuxbrew:/home/linuxbrew/.linuxbrew:rw,Z
pull=true
replace=false

[fedora]
image=ghcr.io/tibiiius/fedora:40
{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}nvidia=true{{ else }}nvidia=false{{ end }}
volume=/home/linuxbrew/.linuxbrew:/home/linuxbrew/.linuxbrew:rw,Z
pull=true
replace=false
