#!/usr/bin/env bash

export DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=0
export WINEESYNC=1
export WINEFSYNC=1
export PATH="$HOME/.var/app/net.lutris.Lutris/data/lutris/runners/wine/lutris-GE-Proton8-8-x86_64/bin/:$PATH"
export WINEPREFIX="{{ if (or ((env "HOSTNAME") | regexMatch "desktop") (.chezmoi.hostname | regexMatch "desktop")) }}/mnt/games_m2/Lutris/final-fantasy-xiv-online/{{ else }}$HOME/.local/share/Games/Lutris/final-fantasy-xiv-online/{{ end }}"
