font-family = Monaspace Neon NF Regular
font-size = {{ if (eq .chezmoi.os "linux") -}} 11 {{- else -}} 15 {{- end }}
adjust-cell-height = 6
background-opacity = {{ if (eq .chezmoi.os "linux") -}} 0.89 {{- else -}} 0.69 {{- end }}
window-theme = ghostty
window-padding-x=9
window-padding-y=9
background-blur = macos-glass-regular
theme = dark:Catppuccin Macchiato,light:Catppuccin Latte
