[[plugin.deps]]
use = "yazi-rs/plugins:git"
rev = "d7588f6"
hash = "63b6c222bf2103b3023389dde5e2ecfe"

[[plugin.deps]]
use = "yazi-rs/plugins:chmod"
rev = "d7588f6"
hash = "1adc12c2b2b025411ab61eb8f0879574"

[[plugin.deps]]
use = "yazi-rs/plugins:full-border"
rev = "d7588f6"
hash = "3996fc74044bc44144b323686f887e1"

[[plugin.deps]]
use = "yazi-rs/plugins:mount"
rev = "d7588f6"
hash = "e1de3054c0d1a2d8dc6f007eadc0fa31"

[[plugin.deps]]
use = "yazi-rs/plugins:smart-enter"
rev = "d7588f6"
hash = "56fdabc96fc1f4d53c96eb884b02a5be"

[[plugin.deps]]
use = "yazi-rs/plugins:zoom"
rev = "d7588f6"
hash = "4a47a9cd4d8b3a963cb4cc593664b77e"

[[flavor.deps]]
use = "yazi-rs/flavors:catppuccin-latte"
rev = "3e6da98"
hash = "509055ecc7e6315cb574be36da7a4495"

[[flavor.deps]]
use = "yazi-rs/flavors:catppuccin-macchiato"
rev = "3e6da98"
hash = "1e2cc3f0f96197f3dac9591be50bb2af"
