{
	"$schema": "https://opencode.ai/config.json",
	"lsp": true,
	"instructions": ["instructions/*.md"],
	"plugin": ["./plugins/falcode.js"],
	"mcp": {
		{{- if not (eq .machineType "work") }}
		"exa": {
			"type": "remote",
			"url": "https://mcp.exa.ai/mcp",
			"enabled": true
		},
		"github": {
			"type": "remote",
			"url": "https://api.githubcopilot.com/mcp/",
			"enabled": true,
			"oauth": false,
			"headers": {
				"Authorization": "Bearer {env:GITHUB_TOKEN}"
			}
		},
		{{ end }}
		"gitgo": {
			"type": "local",
			"command": ["gitgo", "mcp"]
		}
	},
	"provider": {
		"unsloth-studio-5090": {
			"npm": "@ai-sdk/openai-compatible",
			"name": "Unsloth Studio (5090)",
			"options": {
				"baseURL": "http://192.168.178.195:8889/v1"
			},
			"models": {
				"unsloth/Qwen3.8-27B-GGUF": {
					"name": "Qwen 3.8 27B",
					"limit": {
						"context": 192000,
						"output": 64000
					},
					"variants": {
						"xhigh": { "reasoningEffort": "xhigh" },
						"medium": { "reasoningEffort": "medium" },
						"low": { "reasoningEffort": "low" },
						"none": { "reasoningEffort": "none" }
					}
				},
				"unsloth/Qwen3-Coder-Next-GGUF": {
					"name": "Qwen 3 Coder Next",
					"limit": {
						"context": 262000,
						"output": 96000
					}
				},
				"ornith-ai/Ornith-1.5-35B-A3B-GGUF": {
					"name": "Ornith 1.5 35B A3B",
					"limit": {
						"context": 262000,
						"output": 96000
					}
				}
			}
		}
	}
}
