{{- $devcontainer:= (or (env "CODESPACES" | not | not) (env "REMOTE_CONTAINERS" | not | not)) -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "Tibilius"
  email: "oss@timfb.dev"
  devcontainer: {{ $devcontainer }}
