[core]
	pager = delta
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[commit]
	gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    defaultKeyCommand = "ssh-add -L"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[log]
	decorate = true
[push]
{{- if not (eq .machineType "work") }}
	followTags = true
{{- else }}
	default = simple
{{- end }}
[rebase]
	autostash = true
[pull]
	rebase = true
[diff]
	prompt = false
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	prompt = false
	cmd = vim -f -d \"$LOCAL\" \"$REMOTE\"
[difftool "nvimdiff"]
	prompt = false
	cmd = nvim -f -d \"$LOCAL\" \"$REMOTE\"
[difftool "vscode"]
	prompt = false
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[merge]
	keepBackup = false
	tool = nvimdiff
[mergetool "vimdiff"]
	cmd = vim -f -d
	path = ''
	prompt = false
	keepBackup = false
	keepTemporaries = false
	trustExitCode = false
	layout = "LOCAL,MERGED,REMOTE + (LOCAL/BASE/REMOTE),MERGED + LOCAL,BASE,REMOTE / MERGED + @LOCAL,BASE,REMOTE + @LOCAL,REMOTE + (LOCAL/REMOTE),MERGED + LOCAL,REMOTE / MERGED "
[mergetool "nvimdiff"]
	prompt = false
	keepBackup = false
	keepTemporaries = false
	layout = "LOCAL,MERGED,REMOTE + (LOCAL/BASE/REMOTE),MERGED + LOCAL,BASE,REMOTE / MERGED + @LOCAL,BASE,REMOTE + @LOCAL,REMOTE + (LOCAL/REMOTE),MERGED + LOCAL,REMOTE / MERGED "
[mergetool "vscode"]
	prompt = false
	cmd = code --wait \"$MERGED\"
[interactive]
	diffFilter = delta --color-only --diff-so-fancy --detect-dark-light=always
[delta]
	navigate = true  # use n and N to move between diff sections
[pager]
	blame = delta
