# Plugins
mattmc3/zephyr path:plugins/completion
{{- if .homebrewSupported }}
mattmc3/zephyr path:plugins/homebrew
{{- end }}
ohmyzsh/ohmyzsh path:lib
ohmyzsh/ohmyzsh path:plugins/eza
ohmyzsh/ohmyzsh path:plugins/kubectl
zdharma-continuum/fast-syntax-highlighting kind:defer
jeffreytse/zsh-vi-mode

# Late loading plugins
zsh-users/zsh-autosuggestions
