# Antidote clone location
export ANTIDOTE_CLONE_LOCATION=${HOME}/.antidote

# Source antidote.
source ${ANTIDOTE_CLONE_LOCATION}/antidote.zsh

autoload -Uz compinit && compinit

# mise
[[ $(command -v mise) ]] && eval "$(mise activate zsh)"
export MISE_NODE_COREPACK=true

# Load from ~/.zsh_plugins.txt
antidote load

{{- if eq .chezmoi.os "darwin" }}

# MacOS convenience functions
alias sha1sum="shasum -a 1"
alias sha256sum="shasum -a 256"
alias sha512sum="shasum -a 512"

notfiy-send() {
  if [[ -z $1 ]] || [[ -z $2 ]]; then
    echo "Need title and body"
    return 1
  fi
  osascript -e 'display notification "'"${2}"'" with title "'"${1}"'"'
}

{{- end }}

# Prompt
eval "$(starship init zsh)"

# Zoxide init
[[ $(command -v zoxide) ]] && eval "$(zoxide init zsh)"

# Set Git editor
export GIT_EDITOR="${VISUAL}"

# Aliases
## Replacements
[[ $(command -v bat) ]] && alias cat='bat -p'
[[ $(command -v rg) ]] && alias grep='rg'
[[ $(command -v fd) ]] && alias find='fd'
[[ $(command -v dust) ]] && alias du='dust'
[[ $(command -v yazi) ]] && alias ranger='yazi'
## Git aliases
alias lgit='lazygit'
alias gits='git status'
alias gitco='git checkout'
alias gitcot='git checkout --track'
alias gitst='git stash'
alias gitstp='git stash pop'
alias gitsta='git stash apply'
alias gitstd='git stash drop'
alias gitd='git diff'
alias gitdt='git difftool'
alias gitds='git diff --staged'
alias gitl='git log'
alias gitlp='git log -p'
alias gita='git add'
alias gitc='git commit'
alias gitj='jira commit'
alias gitca='git commit --amend'
alias gitcan='git commit --amend --no-edit'
alias gitcf='git commit --fixup'
alias gitcfh='git commit --fixup HEAD'
alias gitf='git fetch --all'
alias gitfp='git fetch --all --prune'
alias gitfr='git fetch --all && git rebase'
alias gitfpr='git fetch --all --prune && git rebase'
alias gitr='git rebase'
alias gitp='git push'
alias gitsm='git submodule'
alias gitsmu='git submodule update --init'
alias gitsmui='git submodule update --init'
alias gitmr='git merge'
alias gitmrt='git mergetool'
alias gitshortlog='git shortlog -sn --all --no-merges --since="1 year ago" | cat'
## Devcontainer
alias dec='devcontainer --workspace-folder $(pwd)'
alias decu='devcontainer up --workspace-folder $(pwd)'
alias dece='devcontainer exec --workspace-folder $(pwd)'
alias deca='devcontainer exec --workspace-folder $(pwd) /bin/zsh'
## Misc
alias 7z='7zz' # 7zz is the official 7zip binary for unix, 7z is for the unmaintained p7zip
alias btm='btm --process_memory_as_value'
alias btml='btm --theme default-light'
alias temppls='cd $(mktemp -d)'
alias passpls='cat /dev/urandom | tr -dc "0-9a-zA-Z" | head -c32'
alias hostpls='distrobox-host-exec $SHELL'
alias dhe='distrobox-host-exec'
alias rm='rm -I'
alias bandwhich="sudo $(command -v bandwhich)"
if [[ $(command -v nvim) ]]; then
  alias vim='nvim'
  alias vi='nvim'
fi
alias cutlb='perl -pi -e "chomp if eof"'
[[ ! $(command -v code) ]] && [[ $(command -v flatpak) ]] && alias code='flatpak run com.visualstudio.code'
alias coder='code --reuse-window'
## Chezmoi
alias ce='chezmoi edit --apply'
## Marp with Docker
alias marp-convert="docker run --rm -v \"./:/home/marp/app/:Z\" -e LANG=$LANG -e MARP_USER=\"${UID}:${GID}\" marpteam/marp-cli"
alias marp-serve="docker run --rm --init -v \"./:/home/marp/app:Z\" -e LANG=$LANG -e MARP_USER=\"${UID}:${GID}\" -p 8080:8080 -p 37717:37717 marpteam/marp-cli -s"

# Updating stuff
update_tools() {
    if ! sudo ls &> /dev/null; then
        echo "Sorry, this operation needs sudo access!"
        return 1
    fi

    antidote update
    [[ $(command -v chezmoi) ]] && chezmoi upgrade && chezmoi update --recurse-submodules && chezmoi init --apply
    [[ $(command -v brew) ]] && brew cleanup && brew upgrade && brew upgrade --cask --greedy
    [[ $(command -v mise) ]] && mise self-update --yes && mise upgrade
}

# Tmux
if [[ $(command -v tmux) ]]; then
  # We check if ${TMUX_EXEC} exists, otherwise we encounter recoursion when sourcing again
  if [[ -z "${TMUX_EXEC}" ]]; then
    TMUX_EXEC=$(command -v tmux)

    ## Function for convenience
    tmux() {
      if [ -z "$1" ]; then
        $TMUX_EXEC
      else
        if [ "$1" = "a" ] && ! $TMUX_EXEC has-session 2>/dev/null; then
          $TMUX_EXEC
        else
          $TMUX_EXEC $@
        fi
      fi
    }
  fi

{{ if eq .machineType "server" }}
  ## SSH connection
  if [[ "${SSH_CONNECTION}" ]] && [[ ! "${TERM_PROGRAM}" = "vscode" ]]; then
    # Create a new SSH Tmux session if there is none
    if ! $(${TMUX_EXEC} has-session -t ssh); then
      ${TMUX_EXEC} new-session -s ssh -d
    fi
    if [[ -z "${TMUX}" ]]; then
      ${TMUX_EXEC} a -t ssh
    fi
  fi
{{ end }}
fi

{{ if eq .chezmoi.os "darwin" }}
# Filter some network stuff
applevz_network() {
    if [[ -z ${1} ]]; then
        echo "Needs the VM's network in CIDR notation as arg 1"
        return 1
    fi

    pushd $(mktemp -d)

    sudo pfctl -a com.apple.internet-sharing/shared_v4 -s nat > newrules.conf
    echo "nat on utun4 inet from ${1} to 192.168.5.0/24 -> (utun4) extfilter ei" >> newrules.conf
    echo "nat on utun4 inet from ${1} to 10.0.0.0/8 -> (utun4) extfilter ei" >> newrules.conf
    sudo pfctl -a com.apple.internet-sharing/shared_v4 -N -f newrules.conf

    popd
}
{{ end }}

# Go stuff
export GOPATH=$HOME/.local/share/go
export PATH=$GOPATH/bin:$PATH


{{ if eq .chezmoi.os "darwin" }}
# iTerm2
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
{{ end }}

# atuin shell history
[[ $(command -v atuin) ]] && eval "$(atuin init zsh)"

# Rasmus 5Head-Git-Stuff
currentBranch() {
    git rev-parse --abbrev-ref HEAD
}

masterOrMain() {
    if [[ -z $1 ]]; then
        echo "No remote, using 'origin'"
        1='origin'
    fi

    if git ls-remote --exit-code --heads "${1}" refs/heads/master 2>&1 > /dev/null; then
        echo "master"
    else
        echo "main"
    fi
}

gitrs() {
    git_fml || return 1
    if [[ -z $1 ]]; then
        echo "No remote, using 'origin'"
        1='origin'
    fi

    branch=$(currentBranch)
    branchMasterOrMain=$(masterOrMain "${1}")

    if git ls-remote --exit-code --heads "${1}" refs/heads/"${branch}" 2>&1 > /dev/null; then
        git switch -C "${branch}" "${1}/${branch}"
    else
        git switch -C "${branch}" "${1}/${branchMasterOrMain}"
    fi
}

gitmrr() {
    git_fml || return 1
    if [[ -z $1 ]]; then
        echo "No remote, using 'upstream'"
        1='upstream'
    fi

    branch=$(currentBranch)
    git merge $1/$branch
}

git_fml() {
    if [[ -e $(pwd)/.git/index.lock ]]; then
        echo "Index lock exists, aborting..."
        return 1
    fi
}

export DBX_CONTAINER_MANAGER=docker

# K8s
export K9S_CONFIG_DIR="${XDG_CONFIG_HOME:-${HOME}/.config}"/k9s
source <(kubectl completion zsh)

# fzf integration
[[ $(command -v fzf) ]] && source <(fzf --zsh)


[[ -f $HOME/.zshrc.ds ]] && source $HOME/.zshrc.ds

[[ $(command -v docker) ]] && eval "$(docker completion zsh)"

# Load completions
fpath+=~/.zfunc
{{ if eq .chezmoi.os "linux" }}
fpath+=/usr/share/zsh/vendor-completions
fpath+=/usr/share/zsh/site-functions
{{ end }}
