# Some env variables
if [[ $(command -v code) ]]; then
  export VISUAL="code --wait"
else
  export VISUAL=nvim
fi
export EDITOR=nvim
export BROWSER=firefox

{{ if not (eq .machineType "work") }}
# Fuck Microsoft
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export FrameworkPathOverride=/usr/lib/mono/4.5/
export DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
{{ end }}

# Extend PATH variable
export PATH=$HOME/.local/bin:/usr/local/bin:$PATH

# Add poetry related stuff
[[ -d "$HOME/.poetry/bin" ]] && export PATH="$HOME/.poetry/bin:$PATH"

# Rustup
. "$HOME/.cargo/env"
