[core]
	pager = delta
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
{{ if not (eq .machineType "work") }}
	signingkey = 4B3B63F9A1CB361C
[commit]
	gpgsign = false
{{ end }}
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[log]
	decorate = true
[push]
{{ if not (eq .machineType "work") }}
	followTags = true
{{ else }}
	default = simple
{{ end }}
[rebase]
	autostash = true
[pull]
	rebase = true
[diff]
	prompt = false
	tool = vscode
[difftool]
	prompt = false
[difftool "vim"]
	prompt = false
	cmd = vim -f -d \"$LOCAL\" \"$REMOTE\"
[difftool "vscode"]
	prompt = false
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[merge]
	keepBackup = false
	tool = vscode
[mergetool "vim"]
	cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
	path = ''
	prompt = false
	keepBackup = false
	keepTemporaries = false
	trustExitCode = false
[mergetool "vscode"]
	prompt = false
	cmd = code --wait \"$MERGED\"
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
[pager]
	blame = delta
