#!/usr/bin/env bash
source {{ .chezmoi.sourceDir }}/.helper.sh

{{ if .devcontainer }}
print_message "In Dev Container, skipping setting up packages..."
exit 0
{{ end }}

# Include hash of packages (that way, if we add new packages, this file's content changes and is being re-runned): {{ .packages.rust | join " " | sha256sum }}

# Same with brew packages: {{ .packages.brew | join " " | sha256sum }}

# Rust packages
source $HOME/.cargo/env
export RUSTC_WRAPPER="sccache"
print_message "Checking Rust packages"
cargo binstall --no-confirm --locked {{ .packages.rust | join " " }}

# Brew packages
print_message "Checking Brew packages"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
export HOMEBREW_NO_AUTO_UPDATE=1
brew install {{ .packages.brew | join " " }}
