[tools]
node = "latest"
python = "latest"
{{- if ne .machineType "work" }}
dotnet = "latest"
{{- end }}
go = "latest"
{{- if eq .machineType "work" }}
ruby = "latest"
{{- end }}

[settings]
experimental = true
python_compile = false
