[tools]
rust = "latest"
{{- if ne .machineType "server" }}
node = "latest"
python = "latest"
  {{- if ne .machineType "work" }}
dotnet = "latest"
  {{- end }}
go = "latest"
uv = "latest"
{{- end }}
{{/* From here on out, we have devtools */}}
neovim = "latest"
sops = "latest"
starship = "latest"
bottom = "latest"
age = "latest"
"aqua:atuinsh/atuin" = "latest"
bat = "latest"
dust = "latest"
dua = "latest"
zoxide = "latest"
eza = "latest"
ripgrep = "latest"
fd = "latest"
"ubi:dalance/procs" = "latest"
fzf = "latest"
jq = "latest"
yq = "latest"
xh = "latest"
git-lfs = "latest"
delta = "latest"
github-cli = "latest"
cosign = "latest"
{{- if ne .machineType "server" }}
tokei = "latest"
"ubi:o2sh/onefetch" = "latest"
fastfetch = "latest"
lazygit = "latest"
direnv = "latest"
{{- end }}
{{- if not .ephemeral }}
"ubi:imsnif/bandwhich" = "latest"
"ubi:Canop/broot" = "latest"
yazi = "latest"
"ubi:doy/rbw" = "latest"
  {{- if ne .machineType "server" }}
minikube = "latest"
"aqua:loft-sh/devpod" = "latest"
kubectl = "latest"
talosctl = "latest"
helm = "latest"
kubectx = "latest"
kubens = "latest"
k9s = "latest"
hexyl = "latest"
"ubi:YS-L/csvlens" = "latest"
"cargo:flamegraph" = "latest"
"cargo:cross" = "latest"
ripgrep-all = "latest"
hyperfine = "latest"
websocat = "latest"
  {{- end }}
{{- end }}

[settings]
experimental = true
python_compile = false
