[tools]
rust = "latest"
{{- if ne .machineType "server" }}
node = "latest"
python = "latest"
  {{- if ne .machineType "work" }}
dotnet = "latest"
  {{- end }}
go = "latest"
{{- end }}
{{- if eq .machineType "work" }}
ruby = "latest"
{{- end }}
{{/* From here on out, we have devtools */}}
neovim = "0.10"
starship = "latest"
age = "latest"
"aqua:atuinsh/atuin" = "latest"
bat = "latest"
dust = "latest"
zoxide = "latest"
eza = "latest"
ripgrep = "latest"
fd = "latest"
"ubi:dalance/procs" = "latest"
fzf = "latest"
jq = "latest"
yq = "latest"
{{- if ne .machineType "server" }}
hexyl = "latest"
"cargo:flamegraph" = "latest"
"cargo:cross" = "latest"
ripgrep-all = "latest"
hyperfine = "latest"
tokei = "latest"
websocat = "latest"
"ubi:doy/rbw" = "latest"
{{- end }}
xh = "latest"
{{- if not .ephemeral }}
"ubi:imsnif/bandwhich" = "latest"
"ubi:Canop/broot" = "latest"
"cargo:joshuto" = "latest"
  {{- if ne .machineType "server" }}
minikube = "latest"
kubectl = "latest"
talosctl = "latest"
helm = "latest"
kubectx = "latest"
kubens = "latest"
k9s = "latest"
"ubi:o2sh/onefetch" = "latest"
  {{- end }}
{{- end }}


[settings]
experimental = true
python_compile = false
